/* <=== Banner ===> */
.early_sale-banner{
    background-color: #000;
}
.sale_countdown form input {
    width: 100%;
    border-radius: 40px;
    border: none;
    padding: 11px 50px 10px 20px;
    margin: 0;
    color: #4E4E4E;
}
.sale_countdown form label{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.124px;
    padding-bottom: 25px;
}
.early_sale-banner .sale_countdown {
    text-align: center;
}
.early_sale-banner .sale_countdown h2{
    margin: 35px 0 40px;
}
.early_sale-banner .countdown-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.early_sale-banner h6{
    color: #F10000;
    font-family: Poppins;
    font-size: 13px;
    font-weight: 600;
    line-height: 18.551px;
    letter-spacing: 0.13px;
}
.early_sale-banner .time-box {
    display: inline-block;
    text-align: center;
    width: 60px;
    height: 60px;
    padding-right: 20px;
}
.early_sale-banner .time-box:not(:last-child) {
    border-right: .5px solid #F10000;
}

.early_sale-banner .time-box .number,
.early_sale-banner .time-box .label {
    color: #F10000;
    font-family: Poppins, sans-serif;
}

.early_sale-banner .time-box .number {
    text-shadow: 0px 0px 4.613px rgba(0, 0, 0, 0.15);
    font-family: Poppins;
    font-size: 37.87px;
    font-weight: 500;
    line-height: 34.174px;
    letter-spacing: 0.379px;
    padding-top: 5px;
}

.early_sale-banner .time-box .label {
    text-shadow: 0px 0px 2.854px rgba(0, 0, 0, 0.25);
    font-family: Poppins;
    font-size: 9.989px;
    font-weight: 400;
    line-height: 18.551px;
    letter-spacing: 0.1px;

}
.early_sale-countdown {
    padding-top: 60px;
}
.early_sale-banner .sale_countdown-main {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
}
.sale_countdown form input:focus-visible {
    outline: none;
}
.sale_countdown form button {
    position: absolute;
    right: 5px;
    height: 40px;
    width: 40px;
    border: none;
    background: transparent;
    transition: 0.3s;
    top: 50%;
    margin: 0;
    transform: translateY(-50%);
    padding: 0;
}
@media(max-width:767px){
    .early_sale-banner .time-box {
        height: 50px;
        padding-right: 0;
    }
    .early_sale-countdown {
        padding: 30px 0px 40px;
    }
    .early_sale-banner .time-box .number {
        font-size: 31px;
        font-weight: 500;
        line-height: 28.465px;
        letter-spacing: 0.315px
    }
    .early_sale-banner .time-box .label{
        font-size: 8px;
        font-weight: 400;
        line-height: 15.452px;
        letter-spacing: 0.083px;
    }
    .early_sale-banner .sale_countdown h2 {
        margin-bottom: 30px;
    }
    .early_sale-banner .sale_countdown{
        padding-top: 38px;
    }
    .sale_countdown form label{
        padding-bottom: 15px;
        opacity: 0.8;
        font-size: 14px;
    }
    .early_acess_sale .main_banner-image {
        margin: 0 -3px;
    }
    .early_sale-banner .countdown-container {
        display: flex;
        justify-content: center;
        gap: 0;
    }
}