/* ============== main banner start ========== */
.free_water .banner_content {
    max-width: 100%;
    color: #000;
}

.free_water .banner_content .title-xl {
    font-size: 45px;
    line-height: 57.4px;
    font-weight: 500;
    letter-spacing: 0.6px;
}

.free_water .banner_content p {
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.6px;
}

.free_water .btn_white {
    color: #000;
}

@media(max-width:991px){
    .free_water .banner_content .title-xl {
        font-weight: 500;
        font-size: 34px;
        line-height: 40px;
        letter-spacing: 0.4px;
        margin: 15px 40px;
    }
    .main_banner.free_water_new .main_b_wrapper {
        position: absolute;
        top: 0;
        bottom: unset;
        left: 0;
        right: 0;
        display: flex;
        align-items: center; 
    }
}

@media(max-width:767px) { 
    .free_water_new .banner_content .btn-auto {
        margin: 0 auto;
    }
    .free_water_new .banner_content .section_header {
        text-align: center;
        margin-top: 70px;
    }
    .free_water .btn_white {
        font-weight: 600;
        font-size: 20px;
        line-height: 20px;
        padding: 15px;
    }
    .free_water .banner_content p {
        font-weight: 400;
        font-size: 13px;
        line-height: 22px;
        text-align: center;
        letter-spacing: 0.4px;
    }

    .free_water .section {
        padding: 50px 0;
    }
}

/* ============== main banner end ========== */
/* ============== tap water start ========== */
.tap_water .tap_water_icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    column-gap: 10px;
    row-gap: 50px;
}

.tap_water .tap_water_icons .tw_item p {
    padding-top: 15px;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
}

.tap_water .tap_water_info h2 {
    margin-bottom: 30px;
}

@media(max-width:768px) {
    .tap_water .tap_water_icons {
        column-gap: 10px;
        row-gap: 20px;
        padding-top: 40px;
        grid-template-columns: 1fr 2fr 1fr;
    }

    .tap_water .tap_water_icons .tw_item p {
        padding-top: 10px;
        font-size: 11px;
        line-height: 20px;
    }

    .tap_water .tap_water_icons .tw_item img {
        width: 55px;
    }
}

/* ============== tap water end ========== */
/* ============== tap water form  start ========== */
.free_water .giveaway_form .textfield p {
    font-size: 11px;
    line-height: 16px;
    font-weight: 300;
    text-align: left;
}

/* ============== tap water form  end ========== */
/* =============== did you know start ============= */
.did_you_know .dyk_wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    max-width: 970px;
    margin: 0 auto;
}

.did_you_know .dyk_wrapper .dyk_item h6 {
    font-size: 14px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0.14px;
    opacity: 0.8;
    margin: 10px 0;
}

.did_you_know .dyk_wrapper .dyk_item p {
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.13px;
    opacity: 0.8;
}
.header_btn span {
    text-transform: capitalize;
}

@media(max-width:767px) {
    .did_you_know .dyk_wrapper {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .dyk_item {
        display: flex;
        gap: 10px;
    }

    .progressWrapper svg {
        height: 62px;
        width: 62px;
    }

    .did_you_know .dyk_wrapper .dyk_item h6 {
        margin: 0;
        font-size: 13px;
        line-height: 22px;
        letter-spacing: 0.13px;
    }

    .did_you_know .dyk_wrapper .dyk_item p {
        font-size: 11px;
        line-height: 18px;
        letter-spacing: 0.11px;
    }
}

/* =============== did you know end ============= */
.skincare_routine {
    background-image: url("water_skincare_routine.webp"); 
}

.get_report_btn {
    max-width: 327px;
    background: #000;
    color: #fff;
    text-align: center;
    border-radius: 100px;
    padding: 15px;
    margin: 30px auto 0;
}

.get_report_btn a {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.3px;
}

.meet_qurify_info p {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.14px;
}

.meet_qurify_info .refill_review p {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.13px;
}
.qure_filter_shower_new p.save_txt .in_study {
    font-family: Poppins;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    background: #008763;
    border-radius: 6px;
    color: #fff;
    padding: 0 5px;
    margin-right: 10px;
}
.adjust_icons span {
    font-family: Poppins;
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
}
.qure_shower_filter_btn {
    max-width: 400px;
    height: 60px;
    border-radius: 100px;
    background: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 600;
    font-size: 22px;
    line-height: 20px;
}

@media(max-width:767px) {
    .meet_qurify_info .refill_review p {
        font-size: 10px;
        line-height: 16px;
        letter-spacing: 0.1px;
    }

    .meet_qurify_info p {
        font-size: 13px;
        line-height: 22px;
    }
}


/*==== frizzy hair css ====*/
.frizzy_hair .frizzy_hair_content h3 {
    font-family: Canela Web;
    font-weight: 500;
    font-size: 36px;
    line-height: 55px;
    letter-spacing: 0.6px;
}
@media(min-width:768px){
    .frizzy_hair_content {
        max-width: 430px;
    }
    .what_tap_Water_new_heading{
        max-width: 742px;
        margin: 0 auto;
        text-align: center;
    }
    .what_tap_Water_new_heading p {
        margin: 50px 0;
    }
    .giveaway_form .grab_header {
        max-width: 445px;
    }
    .tick_icon_with_text{
        display: flex;
        justify-content: center;
        gap: 10px;
    }
}


/*=== frizzy hair css end ===*/

.what_tap_Water_new_boxes{
    gap: 37px;
}
.tick_icon_with_text {
    text-align: center;
    margin-top: 20px;
}
.what_tap_Water_new_heading h3 {
    font-family: Canela Web;
    font-weight: 500;
    font-size: 36px;
    line-height: 55px;
}
.what_tap_Water_new_heading p {
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
}
.qure_filter_shower_new .thumbsSlider_wrap .swiper-thumbs .swiper-wrapper {
    justify-content: center;
}
.ctm_cls_row{
    border-radius: 8px;
}
.contaminants {
    background: #f9f9f9;
    padding: 40px 60px;
    border-radius: 20px;
}
.giveaway_form {
    background-image: url("conyaminants_bg_bnr_mob.webp");
    background-size: contain;
    height: max-content;
    display: flex;
    align-items: center;
    padding: 70px 0;
}
.giveaway_form .contaminants .textfield .buy_btn {
    font-size: 22px;
    line-height: 22px;
    font-weight: 600;
    max-width: 263px;
    margin: 0 auto;
}
.truth_about_tap_water h3{
    font-family: Canela Web;
    font-weight: 500;
    font-size: 36px;
    line-height: 55px;
}
.truth_about_tap_water p {
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    margin: 0 auto;
}
.did_you_know .dyk_wrapper .dyk_item {
    background: #FBFBFB;
    border-radius: 10px;
    padding-top: 36px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
}
.qure_filter_shower_new .swiper-slide img {
    border-radius: 10px;
}
.qure_filter_shower_new .thumbsSlider_wrap .swiper-button-prev,
.qure_filter_shower_new .thumbsSlider_wrap .swiper-button-next {
   display: none;
}
.did_you_know .progressCont{
    margin-bottom: 20px;
}


@media(max-width:767px){
    .did_you_know .dyk_wrapper .dyk_item {
        background: none;
        padding-top: 0;
    }
    .frizzy_hair .frizzy_hair_content h3 {
        letter-spacing: 0.6px;
        font-weight: 500;
        font-size: 28px;
        line-height: 38px;
        max-width: 310px;
    }
    .what_tap_Water_new_heading p {
        margin: 20px 0;
    }
    .what_tap_Water_new_heading h3 {
        font-size: 28px;
        line-height: 38px;
    }
    .what_tap_Water_new_boxes{
        gap: 20px;
    }
    .what_tap_Water_new_box {
        max-width: 90px;
    }
    .tick_icon_with_text p{
        font-size: 10px;
    }
    .contaminants {
        padding: 20px;
    }
    .giveaway_form {
        padding: 30px 0;
    }
    .giveaway_form .contaminants .textfield .buy_btn {
        font-size: 18px;
    }
    .truth_about_tap_water h3{
        font-size: 28px;
        line-height: 38px;
    }
    .qure_filter_shower_new p.save_txt .in_study {
        font-size: 13px;
        line-height: 18px;
    }
    .adjust_icons span {
        font-weight: 400;
        font-size: 13px;
        line-height: 22px;
    }
    .qure_shower_filter_btn {
        text-decoration: none !important;
        font-size: 20px;
        line-height: 20px;
        letter-spacing: 0.3px; 
    }
    .qure_filter_shower_new .thumbsSlider_wrap .swiper-thumbs .swiper-wrapper .swiper-slide {
        width: 58px !important;
    }
}



