/* ======= mi-patches-pdf start ======== */
.mi-patches-pdf .bs_item h4 {
    word-break: normal;
}

.mi-patches-pdf .skincare_right {
    padding: 0px 0px 0px 40px;
}

.mi-patches-pdf .accordion-button::after {
    filter: grayscale(1);
}

.mi-patches-pdf .bs_content {
    border-bottom: 1px solid #EDE7DD;
}

.mi-patches-pdf .beauty_skincare .bs_item h4 {
    border-bottom: none;
}

.mi-patches-pdf .result_c_info .star_gp p {
    font-size: 13px;
}

.mi-patches-pdf .r_c_info {
    padding: 15px 0px;
}

.mi-patches-pdf .skin_item,
.mi-patches-pdf .skincare_left {
    box-shadow: none;
    border: none;
    background: none;
}

.mi-patches-pdf .accordionTechnologyWrapper>#accordionTechnology {
    grid-template-columns: 1fr;
}

.mi-patches-pdf .accordionTechnologyWrapper p {
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.13px;
}

.combat_slider {
    overflow: unset;
}

.combat_slider .swiper-wrapper {
    justify-content: center;
}

.patches_tech_grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: start;
    gap: 20px;
}

.patches_tech_grid .patches_tech_item {
    max-width: 284px;
    text-align: center;
    margin: 0 auto;
}

.patches_tech_img img {
    max-width: 193px;
}

.patches_tech_item .patches_tech_content {
    font-size: 13px;
    line-height: 24px;
    margin-top: 20px;
}

.patches_tech_plus {
    font-size: 34px;
    line-height: 40px;
    font-weight: 500;
    text-align: center;
}

.patches_tech_item .patches_tech_content h6 {
    font-weight: 600;
    font-size: 13px;
}
.patches_tech_item .patches_tech_content p{
    font-size: 13px;
}
.patches_ingredients .pi_header {
    position: relative;
}

.patches_ingredients .accordion-item {
    max-width: 380px;
    margin-bottom: 20px;
}

.patches_ingredients .pi_header {
    position: relative;
}

.patches_ingredients .pi_heading {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-weight: 600;
    font-size: 13px;
}

.patches_ingredients .skincare_right .accordion-body p {
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.14px;
}

.patches_ingredients .pi-item .accordion-button::after {
    position: absolute;
    right: 10px;
    bottom: 23px;
}

.patches_ingredients .skincare_right .accordion-button {
    /* padding: 0; */
}

.patches_ingredients .skincare_right {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
}

.patches_ingredients .accordion {
    display: flex;
    justify-content: space-between;
}

.patches_ingredients .skincare_right .accordion-item {
    border: none;
}

.patches_ingredients .u_item_question {
    border-radius: 15px !important;
}

.mi-patches-pdf .bs_item {
    max-width: 470px;
}

.beauty_skincare {
    margin: 0 auto;
    max-width: 1017px;
}

.ingredients_item {
    text-align: center;
}
.mi-patches-pdf .get_compliment_wrap #pills-tabContent2 {
    max-width: 670px;
}

.skincare_slider_n .progessInfo {
    font-size: 14px;
}

.skincare_slider_n .section_header>p {
    margin: 20px 0;
}

.skincare_slider_n .skincare_percent:not(:last-child) {
    margin-bottom: 10px;
}

.skincare_slider_n .skin_item_n_tag .sn_tag {
    background-color: #C7E7DC;
    border-radius: 30px;
    padding: 2px 15px;
    display: inline-block;
    font-weight: 600;
    margin-left: 21px;
}

.skincare_slider_n .skin_item_n_tag p {
    text-align: center;
    margin: 12px 0;
}
.mi_patches_pdp span.saved_price {
    background: #c50000 !important;
    margin-left: 8px;
}
.mi_patches_pdp .plan_des {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.mi_patches_pdp .planBlock .monthly_plans{
    padding: 13px 20px;
}
.mi_patches_pdp label.monthly_plans{
    border-radius: 100px !important;
}

.silk_heading {
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.14px;
    text-transform: uppercase;
}
.mi_patches_pdp .plan_choosed {
    text-align: right !important;
    right: 25px !important;
    left: 0 !important;
}
.plan_prc {
    font-weight: 400;
}
.bf_discount {
    height: fit-content;
    padding: 4px 11px;
    background: #C4121A;
    color: #fff;
    font-size: 12px;
    line-height: 12px;
    font-weight: 500;
    border-radius: 25px;
}
.planBlock .plan_choosed span {
    text-transform: uppercase;
}
.video_with_slide h2.title-lg {
    margin-top: -15px;
}
img#bundleImage {
    border-radius: 5px;
}
.payment_method {
    padding: 10px 0;
}
.mi_patches_pdp .planBlock .monthly_plans .plan_des {
    margin-top: 0;
    line-height: 20px;
}
.planBlock .monthly_plans .plan_hdr h3 {
    margin-top: -5px;
}
.planBlock .monthly_plans .plan_hdr h3 {
    font-size: 14px !important;
    opacity: 80%;
}
.mi_patches_pdp .planBlock .monthly_plans .price .regular_price {
    font-size: 20px;
}
.choose_bundle-offer .bundle_offer-content .planBlock .monthly_plans .price .regular_price {
    font-size: 23px;
}
.ctm_cls_mi_patches_pdp .planBlock .monthly_plans .plan_des strong {
    text-transform: uppercase;
}



@media (max-width: 991px) {
    .skincaree {
        gap: 20px;
    }
}

@media (max-width: 767px) {
    .choose_bundle-offer .bundle_offer-content .planBlock .monthly_plans .price .regular_price {
        font-size: 20px;
    }
    .planBlock .monthly_plans .plan_des { 
        font-size: 11px;
    }
    .mi-patches-pdf .rightCircle {
        width: 100%;
    }

    .mi-patches-pdf .r_c_info .c_information p {
        font-size: 10px;
    }

    .mi-patches-pdf .refill_info .refill_review .star_gp img {
        max-width: 93px;
    }

    .mi-patches-pdf .refill_bl.tabSlider .refill_info .section_header .title-xl {
        font-size: 34px;
        line-height: 40px;
    }

    .mi-patches-pdf .skincare_right {
        padding: 10px;
    }

    .mi-patches-pdf .beauty_skincare .bs_item h4 {
        max-width: 146px;
        margin: 0 auto;
    }

    .patches_tech_grid {
        grid-template-columns: 1fr;
    }

    .skincaree {
        gap: 20px;
    }

    .skincaree p {
        padding: 15px;
        padding-bottom: 0;
    }

    .skincaree .accordionTechnologyWrapper .accordion-body {
        padding: 0;
        padding-bottom: 15px !important
    }

    .patches_ingredients .accordion {
        display: block;
    }

    .patches_ingredients .skincare_right .accordion-body p {
        font-size: 12px;
        line-height: 22px;
        letter-spacing: 0.14px;
    }

    .patches_ingredients .accordion-item {
        margin-bottom: 10px;
    }
    .mi-patches-pdf .app_press_sl_content {
        padding: 0 !important;
    }
    .skincare_slider_n .skin_item_n_tag .sn_tag {
        margin-left: 5px;
        padding: 2px 10px;
    }

    .skincare_slider_n .skin_item_n_tag .sn_tag,
    .skincare_slider_n .skin_item_n_tag p {
        font-size: 11px;
    }
    .mi-patches-pdf .refill_s_tab .nav-pills .nav-link {
        padding: 0 14px;
    }
    .mi-patches-pdf .refill_s_tab ul{
        gap: 5px;
    }
}

@media (max-width: 575px) {
    .skincaree_main {
        gap: 20px;
    }

    .patches_tech_grid .patches_tech_img img {
        max-width: 120px;
    }

    .ingredients_item p {
        font-size: 12px;
    }

    .combat_slider .swiper-wrapper {
        justify-content: unset;
    }
    .mi_landing_result .pagination_navigation .swiper-button {
        height: 25px;
        width: 25px;
        top: 25px;
    }
}

/* ======= mi-patches-pdf end ======== */