.faq_banner_wrap {
    max-width: 924px;
}

.faq_banner .title-xl {
    font-size: 45px;
    font-family: 'Canela Web';
    letter-spacing: 0.36px;
    /* margin: 33px 0; */
}

.faq_banner .section_header h5 {
    font-size: 24px;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: 0.3px;
}

.stamping_skin-row {
    padding-left: 40px;
}

.stamping_skin-content:not(:last-child) {
    padding: 0 0 28px 0;
}

.how_work {
    padding: 50px 0px;
}

.faq_mi .section_header {
    padding: 30px 0;
}

.faq_mi .section_header p {
    padding: 0;
}

.faq_mi .try_yourself p span {
    background-color: #C7E7DC;
    font-weight: 600;
    text-align: center;
    line-height: 26px;
    width: 100%;
    max-width: 69px;
    height: fit-content;
}

.faq_mi .try_yourself p {
    display: flex;
    gap: 15px;
    padding-top: 25px;
}

.limited_offer_faq {
    padding: 40px 80px !important;
    border: 2px solid #000;
    background: linear-gradient(0deg, rgba(199, 231, 220, 0.30) -22.21%, #FFF 41.13%);
}

.limited_offer_wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 40px;
}

.limited_offer_wrap_list ul li:not(:last-child) {
    margin-bottom: 30px;
}

.limited_offer_faq .buy_btn {
    padding: 9px;
    font-size: 18px;
    margin: 0 20px;
}

.limited_offer_wrap_list {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
}

.offering_period {
    padding: 27px 54px;
}

.miLP_faq_use .actVideo_block {
    max-width: 330px;
}

.miLP_faq_use .stamping_skin-content {
    display: grid;
    grid-template-columns: 193px 1fr;
    gap: 28px;
}
.how_work .how_work-inner {
    display: grid;
    grid-template-columns: 327px 550px;
    justify-content: space-between;
}
.how_work-inner .brighter_smoother {
    border-radius: 8px;
    background: #C7E7DC;
    margin-top: 15px;
    padding: 7px 20px;
}
.how_work-inner .brighter_smoother p{
    letter-spacing: 0.13px;
    font-size: 13px;
    color: #212529;
}
.video_cnt {
    border-radius: 8px;
    background: #C7E7DC;
    padding: 10px;
    margin-top: 20px;
}

.video_cnt p {
    font-size: 13px;
}

.miLP_faq_use .actVideo_block .ctmVideo__block {
    height: unset;
}

.section_header p:not(:last-child) {
    padding-bottom: 20px;
}

.section_header .paddingB {
    padding-bottom: 25px;
}

.result_s .buy_btn {
    font-size: 20px;
    padding: 14px 0;
}

.faq_mi .planBlock .plan_choosed span {
    background: #C92127;
}

.faq_mi .offer_tag {
    background-color: #C92127;
    max-width: fit-content;
    padding: 0 10px;
    border-radius: 20px;
    color: #fff;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.13px;
}

.faq_mi .offer_active .supply_steps .step_block .step_content .serumBlock input.active+.serum_prd:after {
    position: absolute;
    top: 10px;
    right: 10px;
    content: '';
    background-image: url("../assets/1+1free.svg");
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-size: cover;
    height: 40px;
    width: 40px;
}
@media (min-width: 767px) {
    .faq_mi .tmtFtrs_image img {
        max-width: 455px;
        max-height: 415px;
    }
}
@media(max-width:767px) {
    .limited_offer_wrap {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .limited_offer_faq {
        padding: 14px !important;
    }

    .limited_offer_wrap_list ul li:not(:last-child) {
        margin-bottom: 20px;
    }

    .offering_period {
        padding: 11px 15px;
    }

    .miLPfaq,
    .mySwiperFAQ2 {
        overflow: unset;
    }

    .miLP_faq_use .actVideo_block {
        max-width: 100%;
    }

    .miLP_faq_use .stamping_content-main a {
        font-size: 13px;
        margin-bottom: 3px;
        display: inline-block;
    }

    .miLP_faq_use .stamping_skin-content {
        margin-top: 20px;
    }

    .stamping_skin-row {
        padding-left: 0;
    }

    .faq_banner .title-xl {
        font-size: 30px;
        font-style: normal;
        font-weight: 500;
        line-height: 40px;
        letter-spacing: 0.3px;
    }

    .faq_banner .section_header h5 {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.3px;
    }

    .how_work {
        padding: 30px 15px;
    }

    .result_s .buy_btn {
        font-size: 18px;
        padding: 3px 0;
    }

    .limited_offer_faq .buy_btn {
        padding: 10px;
        font-size: 18px;
        margin: 0;
    }
    .faq_mi .mi_infusion-system{
        padding-top: 16px;
    }
    .laptop_img {
        padding-bottom: 40px;
    }
    .faq_mi .mi_landing_result .result_content p{
        font-size: 12px;
    }
    .how_work .how_work-inner {
        grid-template-columns: 100%;
    }
    .video_cnt p {
        font-size: 12px;
    }
}