.subscribe_save_wrapper .with_subscription.buy_btn {
    font-size: 22px;
    font-weight: 600;
    padding: 20px;
}
.choose_bundle-offer h2 {
    color: #000;
    text-align: center;
    font-family: "Canela Web";
    font-size: 45px;
    font-weight: 500;
    line-height: 57.37px;
    letter-spacing: 0.45px;
}
.choose_bundle-offer .bundle_offer-content {
    border-radius: 9.156px;
    border: 2px solid #C7E7DC;
    padding: 30px 40px 30px;
    height: 100%;
}
.offer-lp .thumbsSlider_wrap .swiper-button-next {
    right: 0;
}
.offer-lp .thumbsSlider_wrap .swiper-button {
    height: 44px;
    width: max-content;
    background: transparent;
    box-shadow: unset;
}
.offer-lp .thumbsSlider_wrap .swiper-button-prev {
    left: 0;
}
.offer-lp .refill_info .section_header p {
    letter-spacing: 0.16px;
    padding: 0;
}
.press_bl .ps_wrapper .ps_item {
    margin: 0;
}
.planBlock .monthly_plans .plan_hdr h3 {
    font-size: 16px;
}
.planBlock .monthly_plans .price {
    font-size: unset;
}
.planBlock .monthly_plans .price .regular_price{
    font-size: 18px;
}
.planBlock .monthly_plans .price .sale_price{
    font-size: 18px;
}
.offer-lp .silk_heading {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.14px;
    text-transform: uppercase;
}
.app_press_sl_img .swiper-slide-thumb-active img{
    opacity: 1;
    filter: invert(1) brightness(0) saturate(100%);
}
.planBlock .plan_choosed span{
    text-transform: uppercase;
}
.all_in_one_face_serum_offer span.saved_price {
    background: #c50000 !important;
}
.all_in_one_face_serum_offer .plan_choosed {
    text-align: right !important;
    left: unset !important;
}

.microinfusion_targeted_indiv .planBlock .monthly_plans .price .sale_price {
    font-size: 18px !important;
}
.microinfusion_targeted_indiv .planBlock .monthly_plans .price .regular_price{
    font-size: 18px !important;
}
.microinfusion_targeted_indiv .planBlock .monthly_plans{
    flex-wrap: nowrap;
}
@media(max-width: 767px){
    .choose_bundle-offer h2 {
        font-size: 28px;
        line-height: 38px;
    }
    .choose_bundle-offer .bundle_offer-content {
        border: 0;
        padding: 20px 0 10px;
    }
    .trusted_bl.trustedVerified {
        padding: 30px 0;
    }
    .black_friday .bf_discount, .black_friday .planBlock .monthly_plans .bf_discount {
        padding: 1px 6px;
        font-size: 10px;
    }
    .planBlock .monthly_plans .price .regular_price{
        font-size: 20px;
    }
    .planBlock .monthly_plans .price .sale_price{
        font-size: 18px;
    }
    .planBlock .monthly_plans .plan_hdr h3 {
        font-size: 14px;
    }
    .offer-lp .ss_list ul li {
        line-height: 22px;
    }
    .all_in_one .skincare_slider {
        padding: 20px 0 10px;
    }
    .all_in_one .accordionTechnologyWrapper {
        padding-top: 0px;
    }
    .planBlock .monthly_plans .plan_des .plan_des{
        max-width: 163px;
    } 
}