/* ===============  Bf-sale accordion slider start ========== */
.skin_p_slider {
    position: relative;
}

.skin_promises .section_header p {
    max-width: 705px;
    margin: 0 auto;
}

.skin_p_slider .sp_item .containers {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 0.13px
}

.skin_p_slider .sp_item .containers p {
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 0.13px
}

.skin_p_slider .sp_item .sp_img {
    position: relative;
}

.skin_p_slider .sp_item .sp_img .sp_text {
    position: absolute;
    bottom: 0px;
    left: 10px;
}

.sp_img img {
    width: 100%;
}

.skin_p_slider .sp_item .sp_img .sp_text .title-lg {
    color: #fff;
}

.skin_p_slider .swiper-button-next {
    right: -15px;
}

.skin_p_slider .swiper-button-prev {
    left: -15px;
}

.skin_p_slider .swiper-arrow {
    top: calc(var(--posTop) / 2);
}

.skin_p_slider .sp_item .accordion_icon_list {
    padding-top: 20px;
}

.skin_p_slider .sp_item .accordion_list.li_decimal,
.skin_p_slider .sp_item .accordion_list.li_circle {
    padding: 0 13px
}

.skin_p_slider .sp_item .accordion_list.li_decimal ul li {
    list-style-type: decimal;
}

.skin_p_slider .sp_item .accordion_list.li_circle ul li {
    list-style-type: disc;
}

.skin_p_slider .sp_item .accordion_list.li_decimal ul li:not(:last-child) {
    padding-bottom: 10px;
}

.skin_p_slider .sp_item .accordion_icon_list ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    /* column-gap: 40px; */
}

.skin_p_slider .sp_item .accordion_icon_list ul li p {
    font-size: 10px;
    line-height: 16px;
    font-weight: 300;
    letter-spacing: 0.1px
}

.skin_p_slider .sp_item .accordion_list {
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 0.1px
}

.skin_promises .u_item_expandable {
    border-radius: 8px;
}

@media(max-width:767px) {
    .skin_promises_slider .swiper-wrapper {
        display: grid;
    }

    .skin_p_slider .swiper-arrow {
        opacity: 0;
        visibility: hidden;
    }
}

/* ===============  Bf-sale accordion slider end ========== */
.bf_sale .result_s .section_header {
    max-width: 525px;
    margin: 0 auto;
}

@media(min-width:1200px) {
    .led_mask .qure_advantages .qa__inner .qa_info {
        max-width: 34.1%;
    }
}

@media(max-width:767px) {
    .bf_sale .health_detail ul li img {
        margin: 0 auto;
    }

    .bf_sale .health_detail ul li p {
        font-size: 12px;
    }

    .bf_sale .health_detail ul li svg {
        margin: 0 auto;
    }
}

.bf-bundles-section {
    padding-top: 76px;
    padding-bottom: 106px;
}

.bf-bundles__offer-wrapper {
    display: flex;
    justify-content: center;
}

.bf-bundles__offer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 1px;
    color: #FFFFFF;
    width: 128px;
    min-height: 18px;
}

.bf-bundles__offer.black {
    background-color: #000;
}

@media (min-width:768px) {
    .bf-bundles__offer.black {
        width: 127px;
    }
}

.bf-bundles__title-wrapper .bf-bundles__subtitle {
    font-family: Poppins;
    font-size: 10px;
    font-style: italic;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.1px;
    text-align: center;
    margin-bottom: 15px;
}

.bf-bundles_title h3 {
    font-size: 45px;
    line-height: 57px;
    font-weight: 500;
    font-family: 'Canela Web';
}

.bf-bundles_title h4 {
    font-size: 28px;
    line-height: 32px;
    font-weight: 300;
    font-family: 'Canela Light';
}

.bf-bundles__notice {
    background: #FFFAF1;
    padding: 10px;
    text-align: center;
    margin: 0 7px;
    border-radius: 8px;
}

.bf-bundles__notice h5 {
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.13px;
}

.bf-bundles__notice p {
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.bf-bundles__offer.black:nth-child(1) {
    background-color: #000;
    border-radius: 8px 0px 0px 8px;
}

.bf-bundles__offer.black:nth-child(3) {
    background-color: #000;
    border-radius: 0px 8px 8px 0px;
}

.bf-bundles__offer.red {
    background-color: #c92127;
    font-weight: 700;
    flex-shrink: 0;
    width: unset;
    padding: 0 7px;
}

.bf-bundles__title h3 {
    font-weight: 500;
    font-size: 45px;
    line-height: 57px;
    text-align: center;
    letter-spacing: 1px;
    color: #000000;
    font-family: 'Canela Web';
    margin: 25px 0 40px;
}


/* Grid */
.bf-bundles__items-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px 16px;
    margin: 0 auto;
    margin-top: 50px;
}

.bf-bundles__items-wrapper .bf-bundles__item {
    background-color: #fff;
    /* box-shadow: 0px 0px 13px 0px rgba(176, 176, 176, 0.25); */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 0px 4px 0px rgba(12, 12, 12, 0.25);
}

.bf-bundles__content {
    padding: 10px 15px;
    display: grid;
}

.bf-bundles__content .bf-bundle__rating,
.bf-bundles__content .bf-bundles__item-title {
    padding: 0 10px;
}



.bf-bundles__content .bf-bundle__rating {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 11px;
    line-height: 16px;
}

.bf-bundles__content .bf-bundle__rating svg {
    height: 17px;
    width: 110px;
    margin-right: 10px;
}

.bf-bundles__content .bf-bundle__rating img {
    margin-right: 10px;
}

.bf-bundles__content .bf-bundles__item-title h4 {
    font-family: 'Canela Light';
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0.28px;
    /* margin: 10px 0; */
    opacity: 0.8;
    min-height: 54px;
}

.bf-bundles__item-included {
    color: #000;
    opacity: .8;
    padding-top: 9px;
    padding-bottom: 9px;
    border-top: 1px solid #D9D9D9;
    position: relative;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 15px;
    letter-spacing: 0.12px;
    cursor: pointer;
}

.bf-bundles__item-included span {
    position: absolute;
    right: 0;
    transition: all .2s;
}

.active .bf-bundles__item-included span {
    transition: all .2s;
    transform: rotate(180deg);
}

.bf-bundles__item-dropdown {
    display: none;
}

.bf-bundles__item-dropdown p {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: .3px;
    color: #000;
    /* padding-top: 10px; */
    opacity: 0.8;
}

.bf-bundles__item-dropdown p:before {
    content: '●';
    opacity: 0.8;
    margin-right: 5px;
}

.bf-bundles__item-price-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 22px;
}

.bf-bundles__item-before {
    text-decoration-line: line-through;
    color: #C4C4C4;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.38px;
}

.bf-bundles__item-after {
    color: #000;
    padding-left: 10px;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 44.442px;
    letter-spacing: 0.38px;
}

.bf-bundles__item-save {
    text-transform: uppercase;
    padding: 5px 9px;
    background: #008763;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 22px;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 14px;
}

.bf-bundles__item-save span {
    font-weight: 500;
    margin-left: 5px;
}

.bundle-pay-text {
    margin-top: 13px;
    margin-bottom: 16px;
}

.bundle-pay-text span {
    color: #000;
    font-family: Poppins;
    font-size: 11px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
}

.bundle-pay-text img {
    max-width: 60px;
    margin-left: 5px;
}

.bf-buy-button {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) var(--bgPercent), rgba(206, 206, 206, 1) var(--bgPercent), rgba(206, 206, 206, 1) 100%);
    color: #fff;
    border-radius: 25px;
    padding: 16px 0;
    text-align: center;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.22px;
    position: relative;
    width: 100%;
    border: none;
}

.bf-buy-button .buy-sold-wrapper {
    position: absolute;
    right: 10px;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 127.5%;
    letter-spacing: 0.3px;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}

.bf-buy-button .buy-sold-wrapper .buy-sold__bottom {
    display: block;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
    letter-spacing: 0.3px;
}

.bf-bundles__item-off {
    background: #008763;
    border-radius: 30px;
    position: absolute;
    top: 15px;
    left: 15px;
    text-align: center;
    letter-spacing: .3px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    height: 22px;
    width: 89px;
}

.bf-bundles__pplChoice {
    position: absolute;
    top: 0;
    right: 0;
    padding: 3px 11.937px;
    text-align: center;
    color: #fff;
    border-radius: 8px;
    background: #000;
    font-family: Poppins;
    font-size: 11.937px;
    font-style: normal;
    font-weight: 500;
    line-height: 13.13px;
    letter-spacing: 0.119px;
    text-transform: uppercase;
    width: 302px;
}

.bf-mobile {
    display: none;
}

.bf-bundles__item-included-wrapper {
    padding-bottom: 10px;
}

@media(max-width:767px) {
    .bf-bundles-section {
        padding: 27px 0;
    }

    .bf-desktop {
        display: none;
    }

    .bf-mobile,
    .bf-banner__img-wrapper {
        display: block !important;
    }

    .bf-bundles__offer {
        font-size: 10px;
    }

    .bf-bundles__offer.red {
        font-weight: 700;
        font-size: 13px;
        flex-shrink: 0;
        width: unset;
        padding: 0 8px;
    }

    .bf-bundles__offer.black {
        background-color: #000;
        width: unset;
        flex-grow: 1;
    }

    .bf-bundles__title h3 br {
        display: none;
    }

    .bf-bundles__title h3 {
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: 38px;
        letter-spacing: 0.28px;
        margin-bottom: 20px;
    }

    .bf-bundles__items-wrapper {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 15px;
    }

    .bf-bundles__content .bf-bundle__rating {
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
    }

    .bf-bundles__content .bf-bundle__rating svg {
        width: 100px;
    }

    .bf-bundles__content .bf-bundles__item-title h4 {
        font-size: 22px;
        font-style: normal;
        font-weight: 300;
        line-height: 28px;
        letter-spacing: 0.22px;
        min-height: unset;
    }

    .bf-bundles__item-dropdown p {
        font-size: 10px;
        line-height: 16px;
    }

    .bf-bundles__item-dropdown p:before {
        content: '•';
        opacity: 0.8;
        margin-right: 5px;
    }

    .bf-bundles__item-price-wrapper {
        padding: 0 10px;
        padding-bottom: 15px;
    }

    .bf-bundles__item-included-wrapper {
        padding: 0 10px;
    }

    .bf-bundles__item-before {
        font-size: 28px;
        letter-spacing: 0.28px;
        line-height: 28px;
    }

    .bf-bundles__item-after {
        font-size: 24px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.24px;
    }

    .bf-bundles__item-save {
        font-style: normal;
        font-weight: 300;
        margin-left: 10px;
        white-space: nowrap;
    }

    .bf-bundles__item-save span {
        margin-left: 2px;
    }

    .bundle-pay-text {
        order: 1;
        margin-bottom: 0;
        margin-top: 10px;
    }

    .bundle-pay-text span {
        font-size: 10px;
    }

    .bf-buy-button {
        background: linear-gradient(90deg, rgba(206, 206, 206, 1) 0%, rgba(206, 206, 206, 1) var(--bgMobPercent), rgba(0, 0, 0, 1) var(--bgMobPercent), rgba(0, 0, 0, 1) 100%);
        padding: 14px 0;
        font-size: 19px;
    }

    .bf-buy-button .buy-sold-wrapper {
        right: unset;
        left: 15px;
        text-align: left;
    }

    .bf-buy-button .btn__arrow {
        position: absolute;
        right: 15px;
        top: 40%;
    }

    .bf-bundles__pplChoice {
        left: 15px;
    }

    .bf-bundles__item-off {
        font-size: 10.584px;
        font-style: normal;
        font-weight: 600;
        line-height: 17.388px;
        width: 67px;
        height: 16px;
    }

    .bf-bundles__item-included-wrapper {
        padding-bottom: 0px;
    }
}

/* ====================== bf_sale page css start  ========================================== */

.bf-bundles-section.bf_with_slider .bf-bundles__offer-wrapper {
    margin-bottom: 20px;
}

.bf-bundles-section.bf_with_slider .bf-bundles__item-before {
    font-weight: 500;
    font-size: 25px;
    line-height: 25px;
}

.bf-bundles-section.bf_with_slider .bf-bundles__item-after {
    font-size: 32px;
    line-height: 32px;
    font-weight: 600;
    color: #C92127;
}

.bf-bundles-section.bf_with_slider .bf-buy-button {
    background: linear-gradient(270deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) var(--bgPercent), rgba(206, 206, 206, 1) var(--bgPercent), rgba(206, 206, 206, 1) 100%);
    padding: 14px 0;
    font-size: 22px;
    margin-top: 10px;
    line-height: 20px;
    font-weight: 600;
    min-height: 52px;
}

.bf-bundles-section.bf_with_slider .bf-buy-button .buy-sold-wrapper {
    right: unset;
    left: 15px;
    text-align: left;
}

.bf-bundles-section.bf_with_slider .bf-buy-button .btn__arrow {
    position: absolute;
    right: 15px;
    top: 35%;
}

.bf-bundles-section.bf_with_slider .bf-buy-button .bf_btn_text {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: var(--bgPercent);
    display: flex;
    align-items: center;
    justify-content: center;
}

.bf-bundles-section.bf_with_slider .bf-buy-button .bf_btn_text img {
    right: 8px;
    position: absolute;
}

.bf-bundles__item-off {
    z-index: 1;
}

.bf-bundles__pplChoice {
    z-index: 1;
}

.bf-bundles-section.bf_with_slider .swiper.dot_pagination .swiper-pagination {
    position: absolute;
    bottom: 10px;
}

.bf-bundles-section.bf_with_slider .swiper.dot_pagination .swiper-pagination-bullet {
    margin: 0 6px !important;
    height: 10px;
    width: 10px;
}

.bf-bundles-section.bf_with_slider .sale-bf-img {
    position: relative;
    background: #F5F5F5;
}

.sale-bg-cont {
    position: absolute;
    top: 0;
}

.sale-bg-cont .sale-bf-tag {
    background-color: #000;
    color: #fff;
    width: fit-content;
    border-radius: 30px;
    padding: 0 11px;
    font-size: 11px;
    line-height: 16px;
    font-weight: 300;
}

.sale-bf-info {
    margin: 10px;
}

.sale-bg-cont p {
    font-size: 13px;
    font-weight: 600;
    line-height: 24px;
    color: #000;
}

.sale-bg-cont span.regular_price {
    opacity: 0.8;
    color: #C4C4C4;
    font-size: 12px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.12px;
    text-decoration-line: line-through;
    padding-left: 5px;
}

.sale-bg-cont ul li {
    font-size: 11px;
    font-weight: 300;
    line-height: 16px;
    color: #000;
    opacity: 0.8;
    position: relative;
    padding-left: 10px;
}

.sale-bg-cont ul li:after {
    position: absolute;
    content: '';
    height: 3px;
    width: 3px;
    background: #000;
    left: 0;
    display: flex;
    align-items: center;
    top: 6px;
    border-radius: 50%;
}

.bundle_pdp .sale-bg-cont ul li:after {
    top: 8px;
}

.bf_with_slider .bf-bundles__item-title h4 {
    min-height: unset;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.bf_with_slider .bf-bundles__item-title h5 {
    font-size: 14px;
    color: red;
    line-height: 18px;
    font-weight: 400;
    font-family: 'Poppins';
    font-style: italic;
    margin-left: 5px;
}

.bf-bundles__item.sold_out {
    position: relative;
}

.bf-bundles__item.sold_out .bf-bundles__img,
.bf-bundles__item.sold_out .bf-bundles__content {
    opacity: 0.5;
}

.bf-bundles__item.sold_out:after {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0;
    content: '';
    background: url(./sold-outN.png);
    bottom: 0;
    right: 0;
    z-index: 9;
    background-position: top;
    background-repeat: no-repeat;
}

.bf_with_slider .bf-bundles__item-off {
    font-size: 20px;
    font-weight: 600;
    line-height: 37px;
    height: 30px;
    width: 117px;
}

.bf_with_slider .bf-bundles__item-included-wrapper .bf-bundles__item-included {
    padding: 9px 10px 0px 0;
}

.bf_with_slider .bf-bundles__item-price-wrapper {
    padding: 0 10px;
}

.bf-bundles__content .payment_method {
    padding: 5px 0;
    margin: 0 -9px;
}

.sale-bf-bgImg {
    position: relative;
}

.bf_sale .payment_method .pmt_img {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.bf_sale .payment_method .pmt_img img:not(:last-child) {
    padding-right: 0px;
}

.bf_sale .payment_method p {
    font-size: 10px;
}

@media(min-width:1199px) {
    .bf-bundles__content .payment_method {
        display: -webkit-inline-box;
    }
}

@media(max-width:1199px) and (min-width:767px) {
    .bf-bundles__items-wrapper {
        grid-template-columns: repeat(2, 1fr)
    }
}

@media(max-width:767px) {
    .bf_with_slider .bf-bundles__offer {
        letter-spacing: 0.3px
    }

    .bf_with_slider .bf-bundles_title h3 {
        font-size: 28px;
        line-height: 38px;
    }

    .bf_with_slider .bf-bundles_title h4 {
        font-size: 22px;
        line-height: 28px;
    }

    .bf_with_slider .bf-bundles__item-off {
        font-size: 14px;
        font-weight: 600;
        line-height: 18px;
        height: 20px;
        width: 70px;
    }

    .bf-bundles-section.bf_with_slider .bf-buy-button {
        margin-top: 0px;
    }

    .bf-bundles-section.bf_with_slider .bf-bundles__item-after {
        font-size: 28px;
        line-height: 28px;
        font-weight: 600;
        color: #C92127;
    }

    .bf-bundles__item-before {
        font-size: 35px;
        letter-spacing: 0.28px;
        line-height: 35px;
    }

    .bf-bundles__content {
        padding: 15px;
    }

    .bf_with_slider .bf-bundles__item-included-wrapper .bf-bundles__item-included {
        padding: 9px 0
    }

    .bf_with_slider .bf-bundles__item-price-wrapper {
        padding: 15px 10px;
    }

    .bf-bundles-section.bf_with_slider {
        padding: 35px 0
    }

    .bf-bundles-section.bf_with_slider .bf-bundles__items-wrapper {
        margin-top: 45px;
    }

    .bf-bundles-section.bf_with_slider .swiper-button-next,
    .bf-bundles-section.bf_with_slider .swiper-button-prev {
        opacity: 0;
        visibility: hidden;
    }

    .bf-bundles-section.bf_with_slider .sale-bg-cont .sale-bf-tag {
        font-size: 10px;
        line-height: 18px;
    }

    .bf-bundles-section.bf_with_slider .sale-bg-cont p {
        font-size: 10px;
        font-weight: 600;
        line-height: 16px;
        color: #000;
    }

    .bf-bundles-section.bf_with_slider .sale-bg-cont span.regular_price {
        font-size: 12px;
        font-weight: 600;
    }

    .sale-bg-cont ul li {
        font-size: 10px;
        line-height: 16px;
    }

    .bundle_pdp .sale-bg-cont ul li:after {
        top: 6px;
    }

    .sale-bf-img>img {
        min-height: 292px;
        object-fit: cover;
        width: 100%;
    }

    .bf_with_slider .container {
        padding: 0 17px !important;
    }

    .bf-bundles__item.sold_out:after {
        background: url(./sold-outN-mob.png);
        background-repeat: no-repeat;
    }

    .bf_with_slider .bf-bundles__item-title h5 {
        font-size: 10px;
        line-height: 16px;
    }

    .bf-bundles-section.bf_with_slider .bf-buy-button {
        font-size: 19px;
    }

    .bf-bundles-section.bf_with_slider .bf-buy-button .bf_btn_text img {
        right: 5px;
    }

    .bf-bundles-section.bf_with_slider .swiper.dot_pagination .swiper-pagination {
        position: relative;
        bottom: 0;
        padding-top: 10px;
    }

    .bf-bundles__pplChoice {
        bottom: 0;
        top: auto;
        border-radius: 15.71px 15.71px 0 0;
        left: 0;
        right: 0;
        width: 100%;
        padding: 4px 11.937px;
    }
}

/* 
@media(max-width:480px) {
   
} */

/* ====================== bf_sale page css end  ========================================== */
/* =================== header and announcement bar for bf sales and led offer starts ====================== */
#_include_announcementBfSales .announcement_bar p {
    font-size: 13px !important;
    line-height: 19px;
    text-align: center;
    padding: 8px 0;
    font-weight: 600 !important;
}

.announcement_bar .bfBundle__content .bfCountdown .countdown_block span:after {
    font-size: 8px;
    line-height: 9px;
    min-height: 10px;
    font-weight: 400;
}

.announcement_bar .bfBundle__content .bfCountdown .countdown_block span {
    font-size: 13px;
    line-height: 24px;
    font-weight: 600;
    color: #C92127;
}

.announcement_bar .bfBundle__content .bfCountdown {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bfBundle__content .bfCountdown .countdown_hdr {
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0.13px;
}

.announcement_bar .bfBundle__content .bfCountdown .countdown_block span {
    font-size: 18px !important;
    line-height: 18px !important;
    font-weight: 500 !important;
}

.bfBundle__content .bfCountdown {
    padding: 30px 0;
    display: grid;
    grid-template-columns: 85px 1fr;
    align-items: center;
}


.bfBundle__content .bfCountdown .countdown_block span {
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 36.436px;
    font-style: normal;
    font-weight: 500;
    line-height: 32.88px;
    letter-spacing: 0.364px;
    padding: 0 9px;
}

.announcement_bar.textBlack {
    padding: 10px 0;
}

.textBlack .bfBundle__content .bfCountdown .countdown_block span {
    color: #000 !important;
}

.textBlack .bfBundle__content .bfCountdown .countdown_block span.dots {
    background: #000;
}

.textBlack .bfBundle__content .bfCountdown .countdown_block span.dots {
    color: transparent !important;
}

.bfBundle__content .bfCountdown .countdown_block span:after {
    content: attr(data-name);
    display: block;
    font-size: 10px;
    text-transform: uppercase;
    line-height: 17px;
    min-height: 15px;
}

.bfBundle__content .bfCountdown .countdown_block span.dots {
    position: relative;
    color: transparent;
    min-width: unset;
    width: 1px;
    background: #C92127;
    margin: 0 4px;
    padding: 0;
    height: 100%;

}

.cycle_cnt .cycle-save.btn_blue {
    background: #4897F8;
}

.cycle_cnt .cycle-save.btn_blue span {
    color: #000;
}

@media(max-width:767px) {

    .announcement_bar .bfBundle__content .bfCountdown,
    .announcement_bar.textBlack {
        padding: 5px 0
    }

    .announcement_bar .bfBundle__content .bfCountdown .countdown_hdr {
        font-size: 11px;
    }

    #_include_announcementBfSales .announcement_bar p {
        padding: 0;
    }

    #_include_announcementBfSales .announcement_bar p {
        font-size: 12px;
        line-height: 14px;
    }
}

/* =================== header and announcement bar for bf sales and led offer starts ====================== */
@media(min-width:1199px) {
    .header-new .menu li {
        padding-right: 22px;
    }
}

/* =================== skin promise accordion start ====================== */
.skin_p_slider {
    position: relative;
}

.skin_promises .section_header p {
    max-width: 705px;
    margin: 0 auto;
}

.skin_p_slider .sp_item .containers {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 0.13px
}

.skin_p_slider .sp_item .containers p {
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 0.13px
}

.skin_p_slider .sp_item .sp_img {
    position: relative;
}

.skin_p_slider .sp_item .sp_img .sp_text {
    position: absolute;
    bottom: 0px;
    left: 10px;
}

.sp_img img {
    width: 100%;
}

.skin_p_slider .sp_item .sp_img .sp_text .title-lg {
    color: #fff;
}

.skin_p_slider .swiper-button-next {
    right: -15px;
}

.skin_p_slider .swiper-button-prev {
    left: -15px;
}

.skin_p_slider .swiper-arrow {
    top: calc(var(--posTop) / 2);
}

.skin_p_slider .sp_item .accordion_icon_list {
    padding-top: 20px;
}

.skin_p_slider .sp_item .accordion_list.li_decimal,
.skin_p_slider .sp_item .accordion_list.li_circle {
    padding: 0 13px
}

.skin_p_slider .sp_item .accordion_list.li_decimal ul li {
    list-style-type: decimal;
}

.skin_p_slider .sp_item .accordion_list.li_circle ul li {
    list-style-type: disc;
}

.skin_p_slider .sp_item .accordion_list.li_decimal ul li:not(:last-child) {
    padding-bottom: 10px;
}

.skin_p_slider .sp_item .accordion_icon_list ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.skin_p_slider .sp_item .accordion_icon_list ul li p {
    font-size: 10px;
    line-height: 16px;
    font-weight: 300;
    letter-spacing: 0.1px
}

.skin_p_slider .sp_item .accordion_list {
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 0.1px
}

@media(max-width:767px) {
    .skin_promises_slider .swiper-wrapper {
        display: grid;
    }

    .skin_p_slider .swiper-arrow {
        opacity: 0;
        visibility: hidden;
    }
}

/* =================== skin promise accordion end ====================== */
/* ========================== bundle banner slider start ========================== */
.bfBundle__banner {
    position: relative;
}

/* .bfBundle_bnr_hdr {
    min-height: 105px;
} */

.bfBundle__bannerImg img {
    width: 100%;
    min-height: 600px;
    object-fit: cover;
    object-position: right;
}

.bfBundle__bannerBlock {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}

.bfBundle__content .bfHeading {
    font-family: 'Canela Web';
    font-size: 60px;
    line-height: 65px;
    letter-spacing: 0.6px;
    text-transform: capitalize;
    margin-bottom: 15px;
    margin-top: 15px;
    position: relative;
}

.bfBundle__content .bfSub_heading strong {
    font-family: 'Canela web';
    font-weight: normal;
}

.bfBundle__content .subHeading {
    background: #fff;
    color: #000;
}

.bfBundle__content .btn-bfBundle {
    padding: 16px;
    border-radius: 100px;
    background: #000;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #fff;
    max-width: 373px;
    width: 100%;
    font-size: 20px;
    letter-spacing: 0.22px;
    text-transform: capitalize;
    margin-top: 35px;
    margin-bottom: 35px;
    position: relative;
    z-index: 9;
}

.bfBundle__content .bfCountdown {
    padding: 30px 0;
    display: grid;
    grid-template-columns: 85px 1fr;
    align-items: center;
}

.bfBundle__content .bfCountdown .countdown_hdr {
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.13px;
}

.bfBundle__content .bfCountdown .countdown_block span {
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 36.436px;
    font-style: normal;
    font-weight: 500;
    line-height: 32.88px;
    letter-spacing: 0.364px;
    padding: 0 9px;
}

.bfBundle__content .bfCountdown .countdown_block span:after {
    content: attr(data-name);
    display: block;
    font-size: 10px;
    text-transform: uppercase;
    line-height: 17px;
    min-height: 15px;
}

.bfBundle__content .bfCountdown .countdown_block span.dots {
    position: relative;
    color: transparent;
    min-width: unset;
    width: 1px;
    background: #C92127;
    margin: 0 4px;
    padding: 0;
    height: 100%;

}

.bundleCycle {
    margin-left: 22px;
    /* min-height: 110px; */
}

.bundleCycleSlider {
    width: 340px;
    margin-left: unset;
}

.bundleCycleSlider .swiper-slide {
    padding: 0 5px;
    opacity: 0;
    visibility: hidden;
}

.bundleCycleSlider .swiper-slide.swiper-slide-next,
.bundleCycleSlider .swiper-slide.swiper-slide-prev,
.bundleCycleSlider .swiper-slide.swiper-slide-visible {
    visibility: visible;
    opacity: 1;
}

.bundleCycleSlider .swiper-slide .cycle-slide {
    width: 100%;
    min-height: 110px;
    background: #f3f2f1;
    padding: 0 15px;
    display: grid;
    align-items: center;
    color: #000;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    border-radius: 10px;
    box-shadow: 1px 0px 2px rgb(0 0 0 / 23%);
    overflow: hidden;
}

.cycle_cnt {
    text-align: left;
}

.bundleCycleSlider .swiper-slide .cycle-slide+.swiper-slide-shadow {
    display: none;
}

.bundleCycleSlider .swiper-slide.swiper-slide-active .cycle-slide {
    background: #fff;
}

.cycle_cnt .cycle-save {
    border-radius: 15.873px;
    background: #008763;
    color: #fff;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    padding: 0px 8px;
    text-transform: uppercase;
}

.cycle_cnt .cycle-hdr {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 15.019px;
    letter-spacing: 0.14px;
    margin: 4px 0 8px 0;
}

.cycle_cnt .cycle-hdr span {
    font-weight: normal;
}

.cycle_cnt .btn-cycle {
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 23.007px;
    letter-spacing: 0.12px;
    background: #000;
    color: #fff;
    width: 100%;
    display: block;
    border-radius: 100px;
    text-align: center;
    padding: 3px 10px;
}

.bundleCycleSlider .swiper-arrow:after {
    display: none;
}

.bundleCycleSlider .swiper-arrow svg {
    height: 18px;
    width: 18px;
}

.bundleCycleSlider .swiper-arrow.swiper-button-prev {
    left: -26px;
}

.bundleCycleSlider .swiper-arrow.swiper-button-next {
    right: -30px;
}

.bundleCycle .swiper-pagination {
    bottom: -30px;
}

.bundleCycle .swiper-pagination .swiper-pagination-bullet {
    background: #000;
    width: 10px;
    height: 10px;
}

.bf_sale .bundleCycleSlider .swiper-slide {
    padding-top: 10px;
    padding-bottom: 10px;
}

.bf_sale .bundleCycleSlider .swiper-slide .cycle-slide {
    box-shadow: 2px 3px 5px rgb(0 0 0 / 23%);
    /* padding: 20px; */
}

.bfBundle_right img {
    min-height: 100%;
}

.cycle_img {
    text-align: center;
}

.cycle_img img {
    max-height: 76px;
}

@media(max-width:767px) {
    .bfBundle__bannerBlock {
        text-align: center;
        /* position: relati.bf_sale .bundleCycleSlider .swiper-slide .cycle-slideve; */
    }

    .bfBundle__bannerBlock .bfBundle__banner_mobile {
        margin: 0 -24px;
    }

    .bfBundle__bannerBlock .bfBundle_bnr_hdr {
        position: absolute;
        left: 0;
        right: 0;
        top: 32px;
    }

    .bfBundle__content .bfHeading {
        font-size: 34px;
        line-height: 40px;
        margin-bottom: 0px;
    }

    .bfBundle__content .bfSub_heading {
        font-size: 24px;
        line-height: 28px;
    }

    .bfBundle__content .btn-bfBundle {
        padding: 10px 16px;
        max-width: 307px;
        margin-bottom: 15px;
        margin-top: 25px;
    }

    .bfBundle__content .bfCountdown {
        display: flex;
        justify-content: center;
        padding: 25px 0;
    }

    .bfBundle__content .bfCountdown .countdown_hdr {
        text-align: right;
        font-size: 11px;
    }

    .bfBundle__content .bfCountdown .countdown_block span {
        font-size: 26px;
        line-height: 28px;
        padding: 0 6px;
    }

    .bfBundle__content .bfCountdown .countdown_block span.dots {
        margin: 0 2px;
    }

    .bfBundle__content .bfCountdown .countdown_block span:after {
        font-size: 7px;
        line-height: 10px;
        min-height: 10px;
    }

    .bundleCycle {
        margin: 0;
        padding: 30px 0 30px 0;
        background: #fffaf1;
        margin: 0 -24px;
        overflow: hidden;
    }

    .bundleCycleSlider {
        margin: 0 auto;
    }

    .bfBundle__bannerImg img {
        object-position: center;
        min-height: auto;
    }

    .cycle_cnt .cycle-hdr {
        font-size: 12px;
        line-height: 13px;
    }

    .cycle_cnt .cycle-save {
        font-size: 12px;
        line-height: 10px;
        font-weight: 500;
        padding: 0 8px;
    }

    .cycle_cnt .btn-cycle {
        font-size: 10px;
        line-height: 20px;
    }

    .bundleCycleSlider .swiper-arrow {
        visibility: hidden;
        opacity: 0;
    }

    .bf_sale .bundleCycle {
        background: transparent;
        padding: 0;
    }

    .bf_sale .bfBundle__content.bfBundle__content-mob {
        margin-top: -50px;
    }

    .bf_sale .bundleCycleSlider {
        padding-bottom: 30px;
    }

    .bf_sale .bundleCycle .swiper-pagination {
        bottom: -20px;
        padding-bottom: 20px;
    }
}

/* ========================== bundle banner slider end ========================== */
.doctorly_rec img {
    max-width: 79px;
    border: 5px solid #c9e7dd;
    border-radius: 50%;
    filter: drop-shadow(0px 0.477px 5.724px rgba(0, 0, 0, 0.30));
    background: #f0f4f7;
    z-index: 9;
}

.doctorly_rec {
    position: absolute;
    top: 12px;
    right: -10px;
    display: flex;
    align-items: center;
}

.doctorly_text {
    background: #000;
    height: fit-content;
    padding: 7px 18px;
    border-radius: 0 30px 30px 0;
    transform: translateX(-18px);
}

.doctorly_text p {
    font-size: 15.164px;
    font-style: normal;
    font-weight: 700;
    line-height: 14.955px;
    letter-spacing: 0.152px;
    color: #fff;
    padding-left: 7px;
}

.doctorly_text p>span {
    font-size: 9.146px;
    font-style: normal;
    font-weight: 300;
    line-height: 13.56px;
    letter-spacing: 0.091px;
}

.doctorly_rec img {
    padding: 6px;
    max-width: 64px;
    max-height: 64px;
    height: 64px;
}

.doctorly_rec.new_bundle {
    display: block;
    right: 20px;
    text-align: center;
}

.doctorly_rec.new_bundle .doctorly_text {
    background: #C7E7DC;
    border-radius: 30px;
    transform: translateY(-5px);
    padding: 7px 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.doctorly_rec.new_bundle img {
    border: 5px solid #c9e7dd;
    box-shadow: 0.88px 1.76px 1.94px 0px #00000040;
    filter: none;
}

.doctorly_rec.new_bundle .doctorly_text p {
    font-size: 10px;
    color: #000;
    line-height: 14px;
    letter-spacing: 0.51px;
    font-weight: 700;
    padding-left: 0;
}

.bf-bundle_slider .swiper-slide {
    background: #fefefc;
    height: unset;
    display: grid;
    align-items: center;
}
.labour_day-strip {
    position: absolute;
    top: 40px;
    left: 0;
    display: flex;
    gap: 12px;
    border-radius: 0px 47.74px 47.74px 0px;
    background: #FFF;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.25);
    padding: 8px 15px 8px 37px;
}
.labour_day-strip p {
    color: #10355D;
    font-size: 10px;
    font-weight: 400;
    line-height: 13.845px;
    letter-spacing: 0.191px;
    text-transform: uppercase;
}
.labour_day-strip p span {
    font-weight: 700;
}
@media(max-width:767px) {
    .doctorly_rec img {
        max-width: 63px;
        height: unset;
        min-height: unset;
    }

    .doctorly_text {
        background: #000;
        height: fit-content;
        padding: 7px 18px;
        border-radius: 0 30px 30px 0;
        transform: translateX(-18px);
    }

    .doctorly_text p {
        font-size: 12.164px;
    }

    .doctorly_text p>span {
        font-size: 7.146px;
    }

    .doctorly_rec.new_bundle img {
        max-width: 54px;
        height: 54px;
    }

    .doctorly_rec.new_bundle .doctorly_text p {
        font-size: 8.406px;
        line-height: 12.189px;
        letter-spacing: 0.42px;
    }
}

/* ======= new design holiday sales banner start ======== */

.bfBundle__content .bfSub_heading {
    font-size: 40px;
    line-height: 48px;
    margin: 0;
    font-family: 'Canela light';
}

.bfBundle__content .subHeading {
    background: #fff;
    color: #000;
    max-width: fit-content;
    padding: 9px 16px;
    border-radius: 30px;
    margin: 0 auto;
}

.bfBundle__bannerBlock .bfBundle__content {
    max-width: 436px;
    text-align: center;
}

.bfBundle__content .subHeading .bfSub_heading {
    font-size: 18px;
    line-height: 15px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.18px;
    text-transform: uppercase;
}

.bfBundle__content .bfSub_heading strong {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.bfBundle__content .btn-bfBundle {
    padding: 14px;
    max-width: 273px;
}

@media(max-width:767px) {
    .bfBundle__content .subHeading .bfSub_heading {
        font-size: 11px;
        font-style: normal;
        font-weight: 500;
        line-height: 15.153px;
        letter-spacing: 0.11px;
    }

    .bfBundle__content .btn-bfBundle {
        padding: 10px;
        margin-top: 20px;
    }

    .bfBundle__content .bfHeading {
        margin-top: 10px;
    }

    .bf_sale .bundleCycle {
        margin-top: 40px;
        margin-bottom: 30px;
    }

    .bf_sale .bundleCycleSlider {
        max-width: 320px;
    }
}

@media(max-width:991px) {

    .bfBundle__content,
    .bundleCycleSlider {
        margin: 0 auto;
    }

    .bf_sale .bundleCycle .swiper-pagination {
        bottom: -20px;
        padding-bottom: 20px;
    }
}

/* ======= new design holiday sales banner end ======== */