.mi_landing_men .refill_review-men {
    display: flex;
    align-items: center;
}

.mi_landing_men .refill_review-men p {
    margin-left: 12px;
}

.mi_landing_men .reasons_men {
    max-width: 887px;
    margin: 0 auto;
}

.reasons_wrapper4 {
    grid-template-columns: repeat(4, 1fr);
}

.mi_landing_men .imageText_men .aboveText_men {
    bottom: 20px;
    top: unset;
}

.mi_landing_men .choose_serum_men {
    background: transparent;
}

.mi_landing_men .ba_wrapper {
    padding: 24px;
}

.mi_landing_men .rs_item {
    border-right: 1px solid rgba(237, 231, 221, 1);
}

.mi_landing_men .rs_item:last-child {
    border-right: none;
}

.mi_landing_men .see_work .play_btn a span h6 {
    padding-right: 14px;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.436px;
}

.mi_landing_men .see_work .play_btn a {
    max-width: 217px;
}

.mi_landing_men .bs_item h4 {
    word-break: normal;
}
.skincare_percent {
    align-items: start;
}
/* .mi_landing_men .planBlock .plan_choosed span {
    background: #C92127;
}

.mi_landing_men .offer_tag {
    background-color: #C92127;
    max-width: fit-content;
    padding: 0 10px;
    border-radius: 20px;
    color: #fff;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.13px;
}

.mi_landing_men .offer_active .supply_steps .step_block .step_content .serumBlock input.active+.serum_prd:after {
    position: absolute;
    top: 10px;
    right: 10px;
    content: '';
    background-image: url("../assets/1+1free.svg");
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-size: cover;
    height: 40px;
    width: 40px;
} */
@media(max-width:767px) {
    .reasons_wrapper4 {
        grid-template-columns: repeat(1, 1fr);
    }

    .mi_landing_men .ba_wrapper {
        background: var(--clr-yellow);
    }

    .mi_landing_men .rs_item {
        border-right: none;
    }

    .mi_landing_men .see_work .play_btn a span h6 {
        padding-right: 0px;
    }

    .mi_landing_men .see_work .play_btn a {
        max-width: 299px;
    }

    .mi_landing_men .pmtBlock .pmt_plans .pmt_des {
        font-size: 10px;
    }

    .mi_landing_men .pmtBlock .pmt_plans .pmt_options {
        max-width: 140px;
    }

    .mi_landing_men .btn.btn-atc {
        padding: 10px;
    }

    .mi_landing_men .pmtBlock .pmt_plans .price {
        font-size: 18px;
    }

    .mi_landing_men .available_bar p {
        font-size: 12px;
    }
}